#app-icon-0 {
    background-image: url('./assets/apps/Bible.png');
}

#app-icon-1 {
    background-image: url('./assets/apps/Calculator.png');
}

#app-icon-2 {
    background-image: url('./assets/apps/Calendar.png');
}

#app-icon-3 {
    background-image: url('./assets/apps/Camera.png');
}

#app-icon-4 {
    background-image: url('./assets/apps/Clock.png');
}

#app-icon-5 {
    background-image: url('./assets/apps/Compass.png');
}

#app-icon-6 {
    background-image: url('./assets/apps/Contacts.png');
}

#app-icon-7 {
    background-image: url('./assets/apps/Cydia.png');
}

#app-icon-8 {
    background-image: url('./assets/apps/Echofon.png');
}

#app-icon-9 {
    background-image: url('./assets/apps/Evernote.png');
}

#app-icon-10 {
    background-image: url('./assets/apps/Flashlight.png');
}

#app-icon-11 {
    background-image: url('./assets/apps/Iconfest.png');
}

#app-icon-12 {
    background-image: url('./assets/apps/Mail.png');
}

#app-icon-13 {
    background-image: url('./assets/apps/Maps.png');
}

#app-icon-14 {
    background-image: url('./assets/apps/Messages.png');
}

#app-icon-15 {
    background-image: url('./assets/apps/Settings.png');
}